DB_HOST= dirección del host de la base de datos
DB_USER= nombre de usuario de la base de datos
DB_PASSWORD= contraseña de la base de datos
DB_NAME= nombre de la base de datos
DB_PORT= puerto de la base de datos

PORT= puerto del servidor

JWT_SECRET= clave para jw